<h1><%= @post.title %></h1>
<h2><%= @post.topic.title %></h2>
<p><%= @post.content %></p>
<p><%= @post.user.full_name %></p>

<% if current_user && @post.user_id == current_user.id %>
  <%= link_to 'Edit Post', edit_topic_post_path(topic_id: @topic.id, id: @post.id) %>
<% end %>